/* font-family: "TS-Reg", sans-serif; */
/* font-family: "TS-Med", sans-serif; */

* {
  box-sizing: border-box;
}

.container {
  max-width: 1135px;
  margin: 0 auto;
  padding: 0px 10px;
  /* border: 2px blueviolet solid; */
}
body,
* {
  font-family: "TS-Reg";
  font-size: 16px;
}

h1 {
  font-size: 54px;
  font-family: TS-Med;
  font-weight: bold;
}
h1 span {
  color: rgb(254, 93, 93);
}

/* PARTIE MODAL */
.modal {
  background: greenyellow;
  width: 484px;
  height: 578px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 90px 0;
  border-radius: 20px;
  display: none;
  position: relative;
}

.modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.hidden {
  display: none;
}
.on {
  display: flex;
}

.close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
}

/* PARTIE HEADER */
header {
  padding: 10px 0px;
  background: white;
  position: sticky;
  top: 0px;
  z-index: 1;
}
header img {
  /* width: 190px; */
  height: 50px;
}
header .container {
  /* background: salmon; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  /* border: 1px solid black; */
  display: flex;
  gap: 20px;
  align-items: center;
}

header nav div {
  border-radius: 50px;
  padding: 10px 15px;
}
header nav div:hover {
  background: lightgray;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: black;
}
header button {
  border: none;
  background: black;
  padding: 15px 25px;
  border-radius: 50px;
  color: white;
}
header .search {
  display: none;
}

header .burger-menu {
  display: none;
}
/* PARTIE HAUTE */

h1 {
  margin-top: 40px;
  font-family: "TS-Med", sans-serif;
  font-size: 60px;
  font-weight: bold;
}
h1 span {
  color: #ff5d5d;
  font-size: 60px;
  font-weight: bold;
}
.under-h1 {
  margin-top: 10px;
  font-family: "TS-Reg";
  font-weight: 200;
  font-size: 14px;
  color: gray;
}
.under-h1 a {
  color: grey;
}

/* PARTIE FILTRES RECHERCHE*/

.search-infos {
  /* background: crimson; */

  margin: 50px 0px;
  display: flex;
  gap: 10px;
  font-family: "TS-med";
  font-size: 16px;
  min-height: 60px;
}

.search-infos div {
  border: 1px solid black;
  flex: 1;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  /* width: 100%;
  height: 64px; */
  padding: 12px;
}
.search-infos div:hover {
  background: #000;
  color: white;
  cursor: pointer;
}
nav .display-xs {
  display: none;
}
/* PARTIE ALBUM PHOTOS */

.photos-container {
  /* background: yellow; */
  height: 430px;
  display: flex;
  gap: 2px;
}

.left-picture {
  flex: 1;
  /* height: 430px; */
  /* background: blue; */
}
.left-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-column {
  width: 480px;
  /* background: red; */
}

.right-column div:first-child {
  height: calc(50% - 1px);
  /* background: lightgreen; */
  margin-bottom: 2px;
}

.right-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right-column div:last-child {
  /* background: pink; */
  height: calc(50% - 1px);
  object-fit: cover;
}
/*  PARTIE CHEVRON */

.chevrons {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
.chevrons div {
  display: flex;
  gap: 8px;
}

/* PARTIE DESCRIPTION DE LA VILLE */

.container-city-description {
  height: 470px;
  /* background: blue; */
  margin: 40px 0px;
  display: flex;
}
.city-description-left {
  flex: 1;
  /* border: 3px solid red; */
}

.city-description-left h2 {
  font-size: 28px;
  font-weight: bold;
  font-family: TS-med;
  margin-bottom: 40px;
}
.city-description-left p {
  font-size: 18px;
  font-family: TS-Reg, serif;
  padding-right: 150px;
}
.city-description-right {
  width: 430px;
  /* background: green; */
  /* border: 3px solid greenyellow; */
}

.text-description {
  height: 280px;
  background: #ff5d5d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 30px;
}
.city-description-right .img {
  height: 190px;
}
.city-description-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.city-description-right h3 {
  font-family: TS-Med;
  font-size: 30px;
}
.city-description-right p {
  font-family: TS-Reg;
  font-size: 16px;
  margin: 40px 0px;
}
.city-description-right button {
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 15px;
  background: black;
  color: white;
  cursor: pointer;
}

/* PARTIES LES IMMANQUABLES */

.entertainment-container {
  margin: 40px 0px;
}
.entertainment-container h2 {
  font-size: 28px;
  font-weight: bold;
  font-family: TS-med;
  margin-bottom: 40px;
}

.carrousel-container {
  /* border: 2px solid blue; */
  display: flex;
  gap: 15px;
  height: 280px;
  overflow: hidden;
  overflow: scroll;
  /* scrollbar-width: auto; */
}
.text-carrousel {
  /* background: pink; */
  width: calc((100% - 45px) / 4);
  flex-shrink: 0;
}
.text-carrousel h3 {
  font-family: TS-Reg;
  font-size: 25px;
  font-weight: bold;
}
.text-carrousel p {
  font-family: TS-Reg;
  font-size: 15px;
  margin: 15px 0px;
  padding-right: 45px;
}
.img-carrousel {
  /* background: crimson; */
  display: flex;
  gap: 15px;
  flex-shrink: 0;
}
.img-carrousel img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
.img-carrousel div {
  position: relative;
  width: 272px;
}
.img-carrousel .fa-heart {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 22px;
  border-radius: 50%;
  background: white;
  padding: 10px;
}
.fa-ranking-star {
  position: absolute;
  left: 15px;
  top: 50%;
  font-size: 15px;
  border-radius: 50%;
  background: #34e0a1;
  padding: 10px;
  color: white;
}
.img-carrousel h3 {
  font-size: 16px;
  font-weight: bold;
  font-family: TS-Med;
  margin: 10px 0px;
}
/* .img-carrousel p {
  font-size: 14px;
  background: green;
} */

/* PARTIE FOOTER */
footer {
  background: #faf1ed;
  height: 156px;
  display: flex;
}
footer div {
  /* background: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: TS-Reg;
}
footer p span {
  font-weight: bold;
  font-family: TS-Med;
}
footer img {
  margin-right: 10px;
  width: 40px;
}

@media (max-width: 1184px) {
  .search-infos {
    flex-wrap: wrap;
  }
  .search-infos div {
    width: calc((100% - 30px) / 4);
    flex-shrink: 0;
    flex: none;
  }
  div .display-xs {
    display: flex;
  }

  .photos-container {
    height: 370px;
  }
}

@media (max-width: 1024px) {
  /* Partie header */
  header .panier a,
  header .alert a,
  header .favoris a,
  header .previews a {
    display: none;
  }

  /* PARTIE PHOTOS CONTAINER TRIPLE PHOTOS*/
  .photos-container {
    height: 275px;
  }
}
@media (max-width: 768px) {
  /* Partie header */
  header .panier a,
  header button,
  header .alert,
  header .favoris,
  header .previews {
    display: none;
  }
  header .search {
    display: block;
  }
  header .burger-menu {
    display: block;
  }
  header .container {
    display: flex;
    justify-content: space-between;
  }

  header img {
    height: 40px;
  }

  /* Partie NAVIGATION */
  .search-infos {
    flex-wrap: nowrap;
    overflow: scroll;
  }
  .search-infos div {
    width: fit-content;
    gap: 10px;
  }
}
